header {
    width: 100%;
    height: 600px;
    background: #fff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(https://cdn.pixabay.com/photo/2017/09/26/15/13/computer-2788918_960_720.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(https://cdn.pixabay.com/photo/2017/09/26/15/13/computer-2788918_960_720.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    display: flex;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    width: -webkit-fill-available;
    justify-content: space-between;
}

.divbtnsecion {
    display: flex;
    margin-right: 20px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 39px;
}


.logoArgProg {
    width: 200px;
    margin-top: 25;
    float: left;
    margin-right: 50px;
    margin-top: 10px;
}

.logoArgProg:hover {
    transform: translateY(10px) translateX(10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.social {
    display: inline-flex;
    grid-auto-flow: column;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}

.social img {
    width: 40px;
    float: right;
    margin: 10px;
    margin-top: 35px;
}

.social>a {
    width: 60px;
}


img.boton.login {
    width: 40px;
}


button.boton\.close {
    width: 50px;
    height: 50px;
    margin-block: 30px;
    border-radius: 50%;
    border-color: #ffff;
}


header .textos-header {
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    height: 150px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }

    .banner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: center;
    }

}

@media screen and (max-width:500px) {
    .social {
        display: flex;
        padding: 10px 0 0 0;
        justify-items: center;
        margin-top: 9px;
        margin-right: 4%;
        margin-left: 4%;
        flex-direction: row;
        display: table-column;
    }
    .wave {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        overflow: hidden;
    }
    .logoArgProg {
        width: 130px;
        margin-top: 10px;
        align-content: center;
        margin-right: 0%;
        margin-left: 0%;
    }

    .textos-header h1 {
        font-size: 35px;
    }

    .textos-header h2 {
        font-size: 20px;
    }

    .titulo-final {
        font-size: 20px;
    }

   
button.boton\.close{
    width: 34px;
    height: 34px;
    font-size: 8px;
    margin-block: 38px;
    border-radius: 50%;
    border-color: #ffff;
}
}

@media screen and (max-width: 300px) {
    .textos-header h1 {
        font-size: 15px;
    }

    .social {
        display: flex;
        padding: 10px 0 0 0;
        justify-items: center;
        margin-top: 9px;
        flex-direction: row;
        display: contents;
    }

    header {
        width: 100%;
        height: 495px;
        background: #fff;
        background: linear-gradient(to right, hsla(340, 96%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(https://cdn.pixabay.com/photo/2017/09/26/15/13/computer-2788918_960_720.jpg);
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        margin-bottom: -36px;
    }

    .wave {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 56px;
        overflow: hidden;
    }
}