
.experiencia-laboral {
    background: #f2f2f2;
    padding-top: 15px;
}

.experiencia-laboral .titulo {
    padding: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cards .card {
    background: #4d0686;
    display: flex;
    margin: 10px;
    width: 46%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card>.contenido-texto-card {
    padding-top: 15px;
    width: 65%;
    color: #fff;
}

.cards .card>.contenido-texto-card h5 {
    width: 60%;
    padding-top: 10px;
    color: #fff;
}

.cards .card>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 10px;
}
@media screen and(max-width: 1068px) {
    .container {
        max-width: 80rem;
        min-width: 70rem;
    }
}

@media screen and (max-width: 868px) {
    .container {
        max-width: 80rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 2.5rem;
        flex-direction: column;
        margin-top: 20px;
    }
}


/*  Our team */

.about-services {
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind {
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind p {
    font-weight: 300;
    text-align: justify;
}


/* footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
 
   
@media screen and (max-width:900px) {

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card {
        width: 90%;
    }
    .cards .card:first-child {
        margin-bottom: 20px;
    }

}

@media screen and (max-width:500px) {

    .cards .card {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards .card img {
        width: 90px;
        height: 90px;
    }
}

