/*  Our team */

.divbtnadd{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.btnadd{
    display: contents;
    color:darkviolet;
}
.btnedityborrar{
    padding-top: 15px;
    margin: 0px;
    width: 40%;
    display: contents;
    }
.btn-dark{
       width: 53px;
    height: 44px;
    margin: 15PX 8px 0 8px;
    cursor: pointer;
}
.bi-plus-square{
    content: "\f4ca";
    font-size: larger;
    padding: 7px;
    margin-top: 10px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

.bi-pencil-square::before {
    content: "\f4ca";
    font-size: xx-large;
}

.bi-trash::before {
    content: "\f5de";
    font-size: xx-large;
    color: red;
    transition: 5s;
    background: none;
    border: none;
}


.about-services {
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind {
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind p {
    font-weight: 300;
    text-align: justify;
}


    /* proyectos */

@media screen and (max-width:900px) {
   
    .servicio-cont {
        justify-content: center;
        flex-direction: column;
    }
    .servicio-ind {
        width: 100%;
        text-align: center;
    }
    .servicio-ind:nth-child(1),
    .servicio-ind:nth-child(2) {
        margin-bottom: 60px;
    }
    .servicio-ind img {
        width: 90%;
    }
}