<div class="about-services font2">
    <div class="contenedor">
        <h2 class="titulo">Proyectos y Trabajos</h2>
        <div class="btnadd">
            <button type="butom" class="bi bi-plus-square" routerLink="/nuevoproyecto" *ngIf="isLogged">
                <i class=""></i>Agregar Proyecto
            </button>
        </div>
        <div class="servicio-cont">

            <div class="servicio-ind" *ngFor="let Proyecto of proy">
                <img src="https://{{Proyecto.imgProyecto}}" alt="">
                <h3>{{Proyecto.nombreProyecto}}</h3>
                <p>{{Proyecto.descripcionProyecto}}</p>
                <a href="https://miportfoliopersonal-bfa5b.web.app"><p>{{Proyecto.urlProyecto}}</p></a>
                
                <div class="btnedityborrar">
                    <button type="butom" class="btn btn-dark" routerLink="/proyectupdate/{{Proyecto.id}}"
                        *ngIf="isLogged">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="butom" class="btn btn-dark" (click)="delete(Proyecto.id)" *ngIf="isLogged">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>