    <div class="about-services font2">
        <div class="contenedor">
            <h2 class="titulo">Proyectos y Trabajos</h2>
            <div class="servicio-cont">
                <div class="servicio-ind">
                    <img src="../../assets/ilustracion1.svg" alt="">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                </div>
                <div class="servicio-ind">
                    <img src="../../assets/ilustracion2.svg" alt="">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                </div>
                <div class="servicio-ind">
                    <img src="../../assets/ilustracion3.svg" alt="">
                    <h3>Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                </div>
            </div>
        </div>