header {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(204, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../../assets/img1.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(193, 28%, 55%, 0.459), hsla(189, 78%, 57%, 0.664)), url(../../assets/img1.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
}


.logoArgProg {
    width: 200px;
    margin-top: 25;
    float: left;
    margin-right: 50px;
    margin-top: 10px;
}

.logoArgProg:hover {
    transform: translateY(10px) translateX(10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.social {
    display: inline-flex;
    grid-auto-flow: column;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}

.social img {
    width: 40px;
    float: right;
    margin: 10px;
    margin-top: 35px;
}

.social>a {
    width: 60px;
}

.social img:hover {
    transform: translateY(-10px);
    width: 60px;
}

img.botonlogin {
    width: 40px;
}

header .textos-header {
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }
    }

@media screen and (max-width:500px) {


    .social {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0 0 0;
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 10px;
        margin-right: 20%;
        margin-left: 20%;
    }
    .logoArgProg {
        width: 130px;
        margin-top: 10px;
        align-content: center;
        margin-right: 0%;
        margin-left: 0%;
    }
 
   
    .textos-header h1 {
        font-size: 35px;
    }
    .textos-header h2 {
        font-size: 20px;
    }
    .titulo-final {
        font-size: 20px;
    }
}