<footer>
    <div class="contenedor-footer font2">
        <div class="content-foo">
            <h4>Telefono</h4>
            <p>+54 376 4 82 1509</p>
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <a href="mailto:">tataren8@gmail.com</a>
        </div>
        <div class="content-foo">
            <h4>Ubicación</h4>
            <p>Leandro N. Alem Misiones</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; UlisesFT | Tataren Fernando Ulises</h2>
</footer>