<section class="experiencia-laboral font2">
    <h2 class="titulo">Experiencia Laboral</h2>
    <div>

        <div class="divbtnadd">
            <button type="butom" class="btnadd" routerLink="/nuevaexperiencia" *ngIf="isLogged">
                <i class="bi bi-pencil-square"></i>Agregar Experiencia
            </button>

        </div>
        <div class="col-lg-1">
            <div class="col-lg-11">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let Experiencia of expe">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card" *ngFor="let Experiencia of expe">
            <img src="https://{{Experiencia.imgExp}}" alt="">
            <div class="contenido-texto-card">
                
                    <h3 id="name inst">{{Experiencia.nombreExp}}</h3>
                    <h5 id="fecha">{{Experiencia.fechaExp}}</h5>
                    <p id="tareas">{{Experiencia.descripcionExp}}</p>

                    <br>
                    <div class="btn-div">
                        <button type="butom" class="btn btn-dark" routerLink="/editexp/{{Experiencia.id}}"
                            *ngIf="isLogged">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button type="butom" class="btn btn-dark" (click)="delete(Experiencia.id)" *ngIf="isLogged">
                            <i class="bi bi-trash"></i>
                        </button>
            </div>
        </div>
    </div>
    </div>
</section>