<section class="conocimientos font2">
    <h1>Mis Conocimientos!</h1>
    <div class="porcentaje">
        <div class="container">
            <div class="card">
                <div class="box">
                    <div class="porcent">
                        <svg>
                            <circle cx="70" cy="70" r="70"/>
                            <circle cx="70" cy="70" r="70"/>
                        </svg>
                        <div class="number">
                            <h2>80<span>%</span></h2>
                        </div>
                        <h3 class="text">Html</h3>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <div class="porcent">
                        <svg class="svgprogres">
                            <circle cx="70" cy="70" r="70"/>
                            <circle cx="70" cy="70" r="70"/>
                        </svg>
                        <div class="number">
                            <h2>70<span>%</span></h2>
                        </div>
                        <h3 class="text">Css</h3>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <div class="porcent">
                        <svg>
                            <circle cx="70" cy="70" r="70"/>
                            <circle cx="70" cy="70" r="70"/>
                        </svg>
                        <div class="number">
                            <h2>40<span>%</span></h2>
                        </div>
                        <h3 class="text">javascript</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Aprendiendo: Git Hub, Bosstrap, Node.js, Angular...</h2>

</section>