<section class="contenedor sobre-nosotros font2">
    <h1 class="titulo-1">Sobre Mi</h1>
    <h2 class="titulo-2"> Soy una persona entusiasta con ganas de aprender, explorar y crecer. </h2>

    <div class="contenedor-sobre-nosotros font font2">
        <img src="../../assets/Foto-perfil.jpeg" alt="" class="imagen-about-us">
        <div class="contenido-textos">
            <h3 id="titulo"><span>+</span>Full Stack Developer!</h3>
            <p id="certificado1">#Se Programar - Primera Etapa año 2021</p>
            <p id="certificado2">#Yo Programo - Segunda Etapa cursando año 2022</p>
            <h3 id="titulo"><span>+</span>Estudios Secundario</h3>
            <p id="escuela">BOP N° 15, Leandro N. Alem.</p>
            <p id="certificado">Orientacion Contable y Administraion de Empresa</p>
            <p id="fecha-sec">2008-2013</p>
        </div>
    </div>
</section>